.form-group {
    width: 50%; 
    margin: 0 auto; 
    display: flex;
    justify-content: flex-end;
    
}

.form-group input {
    border: 1px solid lightgray; 
    width: 20%; 
}

@media (max-width: 800px) {
    .form-group {
        justify-content: center;
    }
    .form-group input {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .form-group input {
        width: 100%; 
    }
}