.poke-card {
    width: 27%; 
    border-radius: 0.25rem; 
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
   
}

img {
    max-height: 250px; 
    padding: 5px; 
}

.img-container {
    padding-top: 6px; 
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.name {
    text-align: center;
    padding: 3% 0; 
    background-color: #ecd018;
    color: white; 
    text-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.4);
    font-size: 2rem;
    font-weight: bold;
}

.types-container {
    display: flex;
    justify-content: center;
    padding: 3% 0; 
}

.types {
    border: 1px solid black; 
    border-radius: 5px;
    color: white; 
    padding: 3px 8px; 
    margin: 0 4px; 
    font-size: 1.6rem;
  
}

.grass {
    background-color: green; 
}

.normal {
    background-color: gray;
}

.fire {
    background-color: red;
}

.water {
    background-color: blue;
}

.electric {
    background-color: yellow; 
}

.ice {
    background-color: lightblue;
}

.fighting {
    background-color: brown; 
}

.ground {
    background-color: tan;
}

.flying {
    background-color: dodgerblue; 
}

.psychic {
    background-color: palevioletred;
}

.bug {
    background-color: lightgreen; 
}

.rock {
    background-color: rgb(196, 164, 124);
}

.ghost {
    background-color: rgb(104, 17, 245);
}

.dragon {
    background-color: cornflowerblue;
}

.poison {
    background-color: purple; 
}

.fairy {
    background-color: pink;
}

@media (max-width: 800px) {
    .poke-card {
        width: 100%; 
    }
}